body {
    background-color: #395C6B;
    color: #D4CB92;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    background-color: #E6E1C5;
    color: #395C6B;
    width: 30%;
    margin: auto;
    padding: 10px;
}