<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Postal Rate Calculator</title>
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    
    <body>
        <h1>Postal Rate Calculateddddd</h1>
    </body>
</html>