<!DOCTYPE html>
<html>
    <head>
        <title>Postal Rate Calculator</title>
        <link rel="stylesheet" href="/stylesheets/file.css">
    </head>
    
    <body>
        <h1>Calculated Postal Rate</h1>
        <h3>The cost of shipping comes to $<%= price.toFixed(2) %></h3>
    </body>
</html>